@model IEnumerable<Product>
@section Scripts{
    <script src="~/plural-app/main.js"></script>
    <script src="~/plural-app/polyfills.js"></script>
    <script src="~/plural-app/runtime.js"></script>
    <script src="~/plural-app/vendor.js"></script>
}
<h1>SHOP</h1>
<app-shop></app-shop>